# ignore all files/folders in root 
/*

# except for these config files 
!.gitignore
!.gitconfig
!README.md

# bash
!.bash_profile
!.bashrc
!.bash_history
!.bash_aliases

# config
!.config/
.config/*
!.config/alacritty/alacritty.toml
!.config/alacritty/theme.toml
!.config/btop/btop.conf
!.config/fish
!.config/helix
.config/helix/runtime/*
!.config/yazi
!.config/zellij

# Music
!.config/.mpdconf
!.config/rmpc

# mac-specific
!.config/yabai

# qutebrowser
!.qutebrowser/
!.local/share/qutebrowser/

# rust
!rust/
rust/*
!rust/.cargo

# bacon
!/Users/dmy/Library/Application Support/org.dystroy.bacon/prefs.toml
!/Users/dmy/bacon.toml

