# ignore all files/folders in root 
/*

**/.DS_Store
**.log

# except for these files 
!.gitignore
!.gitconfig

# bash
!.bash_profile
!.bashrc
!.bash_history
!.bash_aliases

# config
!.config/
.config/*
!.config/nvim
!.config/wezterm
!.config/fish
