simplified_ui false

layout {
    tab name="🌐" split_direction="vertical" {
        pane {
            command "qutebrowser"
        }
        pane {
            command "hx"
            args "README.md"
        }
    }
    tab name="journal" split_direction="vertical" {
        pane {
            command "fish"
            args "-c" "zellij_home"
        }
    }

    default_tab_template {
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                format_center "{tabs}"
                format_right  " {mode} "

                mode_locked        "#[bg=red,fg=white,bold]  LOCKED "
                mode_pane          "#[bg=blue,fg=white,bold] 󰖯 PANE "
                mode_rename_pane   "#[bg=blue,fg=white,bold]  RENAME_PANE "
                mode_tab           "#[bg=blue,fg=white,bold]  TAB "
                mode_rename_tab    "#[bg=blue,fg=white,bold]  RENAME_TAB "
                mode_session       "#[bg=cyan,fg=white,bold]  SESSION "
                mode_scroll        "#[bg=magenta,fg=white,bold]  SCROLL "
                mode_enter_search  "#[bg=magenta,fg=white,bold]  ENTER_SEARCH " 
                mode_search        "#[bg=magenta,fg=white,bold]  SEARCH "
                mode_resize        "#[bg=yellow,fg=black,bold]  RESIZE "
                mode_move          "#[bg=yellow,fg=black,bold]  MOVE "
                mode_prompt        "#[bg=green,fg=white,bold]  PROMPT "
                mode_tmux          "#[bg=green,fg=white,bold] TMUX "
                
                tab_normal "#[fg=white] ◇  {name} "
                tab_active "#[fg=159,bold] ◆  {name} "
            }
        }
        children
    }

    new_tab_template hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                format_center "{tabs}"
                format_right  " {mode} "

                mode_locked        "#[bg=red,fg=white,bold]  LOCKED "
                mode_pane          "#[bg=blue,fg=white,bold] 󰖯 PANE "
                mode_rename_pane   "#[bg=blue,fg=white,bold]  RENAME_PANE "
                mode_tab           "#[bg=blue,fg=white,bold]  TAB "
                mode_rename_tab    "#[bg=blue,fg=white,bold]  RENAME_TAB "
                mode_session       "#[bg=cyan,fg=white,bold]  SESSION "
                mode_scroll        "#[bg=magenta,fg=white,bold]  SCROLL "
                mode_enter_search  "#[bg=magenta,fg=white,bold]  ENTER_SEARCH " 
                mode_search        "#[bg=magenta,fg=white,bold]  SEARCH "
                mode_resize        "#[bg=yellow,fg=black,bold]  RESIZE "
                mode_move          "#[bg=yellow,fg=black,bold]  MOVE "
                mode_prompt        "#[bg=green,fg=white,bold]  PROMPT "
                mode_tmux          "#[bg=green,fg=white,bold] TMUX "

                tab_normal "#[fg=white] ◇  {name} "
                tab_active "#[fg=159,bold] ◆  {name} "
            }
        }
        pane {
            command "env"
            args "YAZI=true" "fish" 
        }
    }
  

    swap_floating_layout {
        floating_panes exact_panes=1 {
            pane x="60%" y="95%" width="40%" height="95%"
        }
    }
}

