simplified_ui false

layout {
    tab name="" split_direction="vertical" {
        pane name="music" focus=true {
            command "rmpc"
        }
    }
    tab name="" split_direction="vertical" {
        pane size="35%" {
            command "qutebrowser"
        }
        pane name="~" focus=true {
            command "hx"
            args "README.md" ".gitignore"
        }
    }
    tab name="" split_direction="vertical" focus=true {
        pane size="35%" {
            command "btop"
        }
        pane focus=true {
            command "fish"
            args "-c" "zellij_journal"
        }
    }

    default_tab_template {
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                format_left " ⋆｡ﾟ☁︎｡⋆｡ ﾟ☾ ﾟ｡⋆"
                format_center "{tabs}"
                format_right  " {mode} "

                mode_locked        "#[fg=red]#[bg=red,fg=0]L LOCKED#[fg=red] "
                mode_pane          "#[fg=blue]#[bg=blue,fg=0]󰖯  PANE#[fg=blue] "
                mode_rename_pane   "#[fg=blue]#[bg=blue,fg=0]  RENAME_PANE#[fg=blue] "
                mode_tab           "#[fg=blue]#[bg=blue,fg=0]  TAB#[fg=blue] "
                mode_rename_tab    "#[fg=blue]#[bg=blue,fg=0]  RENAME_TAB#[fg=blue] "
                mode_session       "#[fg=cyan]#[bg=cyan,fg=0]  SESSION#[fg=cyan] "
                mode_scroll        "#[fg=magenta]#[bg=magenta,fg=0]  SCROLL#[fg=magenta] "
                mode_enter_search  "#[fg=magenta]#[bg=magenta,fg=0]  ENTER_SEARCH#[fg=magenta] " 
                mode_search        "#[fg=magenta]#[bg=magenta,fg=0]  SEARCH#[fg=magenta] "
                mode_resize        "#[fg=yellow]#[bg=yellow,fg=0]  RESIZE#[fg=yellow] "
                mode_move          "#[fg=yellow]#[bg=yellow,fg=0]  MOVE#[fg=yellow] "
                mode_prompt        "#[fg=green]#[bg=green,fg=0]  PROMPT#[fg=green] "
                mode_tmux          "#[fg=green]#[bg=green,fg=0] TMUX#[fg=green] "
                
                tab_normal "#[fg=white] ◇  {name} "
                tab_active "#[fg=159,bold] ◆  {name} "
            }
        }
        children
    }

    new_tab_template hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                format_left " ⋆｡ﾟ☁︎｡⋆｡ ﾟ☾ ﾟ｡⋆"
                format_center "{tabs}"
                format_right  " {mode} "

                mode_locked        "#[fg=red]#[bg=red,fg=0]LLOCKED#[fg=red] "
                mode_pane          "#[fg=blue]#[bg=blue,fg=0]󰖯 PANE#[fg=blue] "
                mode_rename_pane   "#[fg=blue]#[bg=blue,fg=0] RENAME_PANE#[fg=blue] "
                mode_tab           "#[fg=blue]#[bg=blue,fg=0] TAB#[fg=blue] "
                mode_rename_tab    "#[fg=blue]#[bg=blue,fg=0] RENAME_TAB#[fg=blue] "
                mode_session       "#[fg=cyan]#[bg=cyan,fg=0] SESSION#[fg=cyan] "
                mode_scroll        "#[fg=magenta]#[bg=magenta,fg=0] SCROLL#[fg=magenta] "
                mode_enter_search  "#[fg=magenta]#[bg=magenta,fg=0] ENTER_SEARCH#[fg=magenta] " 
                mode_search        "#[fg=magenta]#[bg=magenta,fg=0] SEARCH#[fg=magenta] "
                mode_resize        "#[fg=yellow]#[bg=yellow,fg=0] RESIZE#[fg=yellow] "
                mode_move          "#[fg=yellow]#[bg=yellow,fg=0] MOVE#[fg=yellow] "
                mode_prompt        "#[fg=green]#[bg=green,fg=0] PROMPT#[fg=green] "
                mode_tmux          "#[fg=green]#[bg=green,fg=0] TMUX#[fg=green] "

                tab_normal "#[fg=white] ◇  {name} "
                tab_active "#[fg=159,bold] ◆  {name} "
            }
        }
        pane {
            command "env"
            args "YAZI=true" "fish" 
        }
    }
  

    swap_floating_layout {
        floating_panes exact_panes=1 {
            pane x="60%" y="95%" width="40%" height="95%"
        }
    }
}

